<footer>
{% for item in site.iamf-details %}
  <div class="row text-center">
    <div class="large-2 medium-4 small-12 column large-offset-6">
      <p class="bold capitalize">I am involved</p>
      <p class="small">Upcoming Events</p>
      <p class="small">Contact Us</p>
    </div>
    <div class="large-2 medium-4 small-12 column">
      <p class="bold capitalize">I am</p>
      <a href="{{ site.url }}/about.html"><p class="small">Our Methodology</p></a>
      <a href="{{ site.url }}/about.html"><p class="small">Our Team</p></a>
      <a href="{{ site.url }}/about.html"><p class="small">Our Advisors</p></a>
    </div>
    <div class="large-2 medium-4 small-12 column">
      <p class="bold capitalize">I am connected</p>
      <p class="social">
        <a href="{{ item.twitter_url }}"><i class="fa fa-twitter"></i></a>
        <a href="{{ item.facebook_url }}"><i class="fa fa-facebook"></i></a>
        <a href="{{ item.github_url }}"><i class="fa fa-github"></i></a>
      </p>
    </div>
  </div>
  <!-- Horizontal dashed line -->
  <div class="row horizontal-line"></div>
  
  <div class="row copyright-align">
    <div class="large-4 medium-4 small-12 column">
      <p class="bold">&copy; 2016 IAM Foundation</p>
    </div>
    <div class="large-8 medium-8 small-12 column text-right">
      <p class="copyright-info bold"><span class="fa fa-phone margin-right"></span>{{ item.phone_number }}</p>
      <p class="copyright-info bold"><span class="fa fa-envelope margin-right"></span>{{ item.email }}</p>
    </div>
  </div>
  {% endfor %}

</footer>


<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/foundation.js"></script>
<script src="{{ site.url }}/js/particles.min.js"></script>
<script src="{{ site.url }}/js/app.js"></script>
<script src="{{ site.url }}/js/jquery.unveil.js"></script>
<script>
  $(document).foundation();

  $(window).scroll(function(){
    var verx = $(window).scrollTop();
    if(verx>=50){
      $("nav").addClass("sticky");
    } else {
      $("nav").removeClass("sticky");
    }
  });
</script>

</body>
</html>
