
<nav>
	<div class="large-10 medium-10 column text-center main-menu">
<!-- 		<ul>
		{% for node in site.pages %}
		{% assign url_parts = node.url | split: '/' %}
		{% assign url_parts_size = url_parts | size %}
		{% assign parent_node_url = '' %}
		{% assign emptyArray = [] %}
			{% if url_parts_size == 3 %}
				{% assign parent_node_url = url_parts %}
				{{parent_node_url}}
			{% endif %}
			{% if url_parts_size == 2 %}
				{% if node.title %}		    	
		      		<li class="bold capitalize"><a href='{{node.url}}'>{{node.title}}</a>
						<ul class="sub-menu" style="display: inline-block;">
							<li class="bold capitalize"><a href='{{node.url}}'>{{sub-node.title}}</a>
						</ul>
		      		</li>
		    	{% endif %}
			{% endif %}
		{% endfor %}



		

		</ul> -->

		<ul>
		  {% assign pages = site.pages  %}
		  {% for p in pages %}
		    {% if p.menu_element == 'main' and p.title %}
		      <li class="active">
		         <a href="" style="font-weight:bold">{{ p.title }}->
		         {% assign p_url_head = p.url | split:"." %}
					{% assign p_url_head = p_url_head[0] %}
		         {{ p_url_head }}
		         </a>
		         <ul class="sub-menu">
		         	<li><a href=""></a></li>
		         </ul>	         
		      </li>
		    {% endif %}
		    {% endfor %}
		</ul>



	</div>
</nav>