
<nav>
	<div class="large-10 medium-10 column text-center main-menu">
<!-- 		<ul>
		{% for node in site.pages %}
		{% assign url_parts = node.url | split: '/' %}
		{% assign url_parts_size = url_parts | size %}
		{% assign parent_node_url = '' %}
		{% assign emptyArray = [] %}
			{% if url_parts_size == 3 %}
				{% assign parent_node_url = url_parts %}
				{{parent_node_url}}
			{% endif %}
			{% if url_parts_size == 2 %}
				{% if node.title %}		    	
		      		<li class="bold capitalize"><a href='{{node.url}}'>{{node.title}}</a>
						<ul class="sub-menu" style="display: inline-block;">
							<li class="bold capitalize"><a href='{{node.url}}'>{{sub-node.title}}</a>
						</ul>
		      		</li>
		    	{% endif %}
			{% endif %}
		{% endfor %}



		

		</ul> -->

		<ul>
		  {% assign pages = site.pages %}
		    {% if p.menu_element == 'main' %}
		      <li class="active">
		         <a href="">{{ p.title }}</a>
		         
		      </li>
		    {% endif %}
		</ul>



	</div>
</nav>