---
layout: default
---

<section class="contact">
      <div class="row">
        <div class="medium-12 small-12 column">
          <h1 class="bold capitalize">Contact Us</h1>
        </div>
        <div class="medium-6 column text-right required">
          <span class="small text-right"><span class="important">*</span>indicates required</span>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 small-12 column">
          <form>
            <label>Email Address <span class="important">*</span>
              <input type="text" class="custom-placeholder">
            </label>
            <div class="row">
              <div class="medium-6 small-12 column">
                <label>First Name
                  <input type="text" class="custom-placeholder">
                </label>
              </div>
              <div class="medium-6 small-12 column">
                <label>Last Name
                  <input type="text" class="custom-placeholder">
                </label>
              </div>
            </div>
            <div class="row margin-bottom">
              <div class="medium-6 small-12 column">
                <label>Phone Number
                  <input type="text" class="custom-placeholder">
                </label>
              </div>
              <div class="medium-6 small-12 column">
                <label>ZIP Code
                  <input type="text" class="custom-placeholder">
                </label>
              </div>
            </div>
            <button type="button" class="button capitalize margin-bottom">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="medium-8 small-12 column">
          <h1 class="bold capitalize margin-bottom">Information</h1>
          {% for item in site.iamf-details %}
          <h5 class="no-margin"><i class="fa fa-map-marker margin-right" aria-hidden="true"></i>{{ item.address }}</h5>
          <h5 class="no-margin"><i class="fa fa-phone margin-right" aria-hidden="true"></i>T. {{ item.phone_number }}</h5>
          <h5 class="no-margin "><i class="fa fa-envelope margin-right" aria-hidden="true"></i>{{ item.email }}</h5>
          {% endfor %}
          <div class="margin-bottom"></div>
          <div id="map"></div>
        </div>
      </div>
    </section>