---
layout: default
---

<section class="event">
	<div class="row">
		<div class="medium-10 small-12 column">

			<div class="row">
				<div class="medium-10 small-12 column">
					<div class="medium-10 small-12 column">

						{% for event in site.events %}
						<a href="{{ event.event_url }}"><div class="future-content">
							<h2 class="bold capitalize margin-bottom">{{ event.title }}</h2>
							<img src="{{ event.image }}" class="margin-bottom" alt="event">
							<p class="bold">{{ event.eventdate }}, {{ event.venue }}</p>
							<p>{{ event.content }}</p>
						</div></a>
						<!-- Horizontal Line -->
						<div class="horizontal-line"></div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>