---
layout: default
---

<!-- Particles Js -->
    <div id="particles-js" class="particles"></div>

    <!-- Header  -->
    <header>
      <div class="row text-center">
        <div class="large-12 medium-12 small-12 column">
          <img class="logo padding-bottom" src="images/logo.png" alt=""/>
          <h1 class="capitalize bold no-padding no-margin">IAM Foundation</h1>
          <h1 class="capitalize bold no-padding no-margin margin-bottom">Industrial Arts &amp; Methods</h1>
          <a href="#" class="arrow hide-for-small-only show-div mouse_wheel-container" style="z-index: 100;"><img class="mouse_wheel" src="images/down-arrow.png" alt="link"/></a>
        </div>
      </div>
    </header>
    <div class="gradient-fix"></div>
    <!-- Short Description -->
    <section class="intro">
      <div class="row">
        <div class="large-10 medium-10 small-12 column">
          <h2 class="capitalize bold no-padding no-margin">Industrial Arts &amp; Method (IAM) Foundation</h2>
          {% for item in site.iamf-details %}
          <p>{{ content }}</p>
          {% endfor %}
        </div>
      </div>
    </section>